files:
  /tmp/pi-process-bot-env-stag.json:
    source: https://pi-env-variables.s3.amazonaws.com/pi-process-bot-env-stag.json
  /tmp/pi-process-bot-env-prod.json:
    source: https://pi-env-variables.s3.amazonaws.com/pi-process-bot-env-prod.json
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: pi-env-variables